h1{
    color: red;
    background-color: antiquewhite;
    text-shadow: 0cm;
    text-align: center;
    text-decoration: underline;
    border: 2px solid black;
}


#prvi{
    text-transform: uppercase;
}

.klasa{
    color:aqua
}
.okvir{
    border: 3px solid purple;
    padding: 2px;
    margin-left: 2px;
    border-radius: 25px;
}